.btn-main {
    width: 260px;
    height: 60px;

    @include font-main-light;
    font-size: 1.5rem;
    font-weight: 500;

    background-color: $accent-color;

    border: none;
    border-radius: 23px;
    transition: 0.2s all;
    cursor: pointer;

    @include for-desktop($max: 1400px) {
        &:hover {
            box-shadow: 0 0 20px 5px $accent-color;
        }
    }
}