.main-headline {
    position: relative;

    @include viewport-full-height;
    background: url('../../images//horizontal-scroller/img-1-bg-preload.webp');
}

.main-headline__swiper {
    position: absolute;
    top: 0;
    left: 0;
    
    width: 100%;
    @include viewport-full-height;
}

.main-headline__content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0 20px;

    background-color: rgba($color: #000000, $alpha: 0.6);
    
    @include viewport-full-height;
}

.main-headline__title {
    margin: 0 0 1rem 0;

    font-family: Literata, sans-serif, 'Times New Roman';
    font-size: 4rem;
    font-weight: 400;
    color: $font-light;

    @include for-mobile-devices {
        font-size: 2.5rem;
    }
}

.main-headline__subtitle {
    max-width: 900px;
    margin: 0 0 5rem 0;

    @include font-main-light;
    font-size: 2rem;
    font-weight: 200;
    text-align: center;

    @include for-mobile-devices {
        font-size: 1.2rem;
    }
}