@mixin font-main {
    font-family: Montserrat, Arial, sans-serif;
}

@mixin font-main-light {
    @include font-main;
    color: $font-light;
}

@mixin font-main-dark {
    @include font-main;
    color: $font-dark;
}

@mixin font-main-accent {
    @include font-main;
    color: $accent-color;
}